@model List<ProductDto>

<h1>Все заказы</h1>

<table class=" table">
    <a asp-action="Create" asp-controller="Product" class="btn btn-sm btn-success">
        Добавить
    </a>
    <thead>
        <tr>
            <th class="col">Названия продукта</th>
            <th class="col">Производитель</th>
            <th class="col">Краткое описания</th>
            <th class="col">Полное описания</th>
            <th class="col">Дата производства</th>
            <th class="col">Материал</th>
            <th class="col">Цена</th>
            <th class="col">Количество</th>
            <th class="col">Фото</th>




        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ProductName</td>
                <td>@x.Manafacturer</td>
                <td>@x.ShortDesc</td>
                <td>@x.FullDesc</td>
                <td>@x.date</td>
                <td>@x.FurnitureMadeOf</td>
                <td>@x.Price</td>
                <td>@x.Quantity</td>
                <td><img class="img-thumbnail" src="~/Images/@x.Image" /></td>

                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-controller="Product" asp-route-id="@x.Id" id="Edit">
                        Изменить
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Product" asp-route-id="@x.Id" id="Delete">
                        Удалить
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


